body{
    background-color: #E0F7FA;
    text-align: center;
    margin: 0;
}

@media only screen and (max-width: 600px){
    #pick-msg{
        font-family: 'Chilanka', cursive;
    }
    canvas{

    }
    #flavors{
        width: 200px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 10px;
    }
    .tea-div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #screen{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    #cup{
        margin-top: 100px;
        
    }
    #order-submit{
        display: flex;
        flex-direction: column;
    

        align-items: center;
        margin-right: 10px;
    }
    #sub-butt{
        margin-top: 20px;
        width: 60px;
    }
    

}