body{
    background-color: #E0F7FA;
    text-align: center;
    margin: 0;
}

#sizes{
    display: flex;
    margin: auto;
}

@media only screen and (max-width: 600px){
    #pick{
        font-family: 'Chilanka', cursive;
        margin-top: 5px;
    }
    #sizes{
        font-family: 'Chilanka', cursive;
        width: 200px;
        flex-direction: column;
        margin-top: -30px;
    }
    canvas{
        border: 1px solid black;
        margin: auto;
        padding: 0;
    }
    #small{
        border: none;
        margin-top: -20px;
    }
    #medium{
        border: none;
        margin-top: -20px;
    }
    #large{
        border: none;
        margin-top: -20px;
    }
}

@media only screen and (min-width: 600px){
    #pick{
        font-family: 'Chilanka', cursive;
        margin-top: 40px;
    }
    #sizes{
        font-family: 'Chilanka', cursive;
        width: 600px;
        justify-content: space-between;
        margin-top: 30px;
        font-size: 24px;
    }
    #small{
        border: none;
        margin-top: -20px;
    }
    #medium{
        border: none;
        margin-top: -20px;
    }
    #large{
        border: none;
        margin-top: -20px;
    }
}