body{
    background-color: #E0F7FA;
    text-align: center;
    margin: 0;
}

#sugar-msg{
    font-family: 'Chilanka', cursive;
}

#ice-msg{
    font-family: 'Chilanka', cursive;
}

.container{
    font-family: 'Chilanka', cursive;
}

@media only screen and (max-width: 600px){
    #sugar-msg{
        margin-top: 5px;
    }
    body{
        padding: 0;
    }
    .slide-ctr{
        background-color: white;
        height: 60px;
        width: 90vw;
        border-radius: 20px;
        margin: auto;
        left: 0;
        right: 0;
        padding: 0 10x;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;
    }
    #slider{
        margin-left: 25px;
    }
    input[type="range"]{
        width: 85%;
        height: 3.5px;
        -webkit-appearance: none;
        background-color: black;
    }
    input[type="range"]::-webkit-slider-thumb{
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #D2B4DE ;
        cursor: pointer;
    }
    .values{
        width: 15%;
        height: 40px;
        position: relative;
        overflow: hidden;
        font-family: sans-serif;
    }
    .wrapper{
        height: 100%;
        width: 100%;
        position: relative;
        transition: 0.3s;
        font-family: 'Chilanka', cursive;
    }
    span{
        display: block;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 10px;
        padding-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 50vw;
        margin:auto;
    }
    
    /* Hide the browser's default radio button */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #D2B4DE;
    }
    
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
    #order-submit{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    #sub-butt{
        margin-top: 20px;
        width: 80px;
        height: 40px;
        font-family: 'Chilanka', cursive;
    }
}