body{
    background-color: #E0F7FA;
    text-align: center;
    margin: 0;
}

#top-msg{
    font-family: 'Chilanka', cursive;
}



@media only screen and (max-width: 600px){
    #top-msg{
        margin-top: 5px;
    }
    #screen{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #toppings{
        display: grid;
        grid-template-columns: 90px 90px;
        grid-template-rows: 100px 100px;
        font-family: 'Chilanka', cursive;
    }
    #boba-div{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #grass-jelly-div{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #lychee-jelly-div{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #pudding-div{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #order-submit{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
    #sub-butt{
        margin-top: 10px;
        width: 60px;
        font-family: 'Chilanka', cursive;
    }
    .top-div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 600px){
    #top-msg{
        margin-top: 40px;
    }
    #screen{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #toppings{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        width: 800px;
        font-family: 'Chilanka', cursive;
        font-size: 24px;
    }
    #order-submit{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    #sub-butt{
        margin-top: 20px;
        width: 60px;
        font-family: 'Chilanka', cursive;
    }
    .top-div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}